{% extends "layout/base.html" %}
{% load static%}
{% load l10n %}
{% load custom_filter %}
{% block content %}


<main class="p-main">
    <div id="particles-js" class="particle"></div>
    <section class="p-fv" id="home">
        <div class="p-fv__container wow fadeInUp">
            <div class="p-fv__content">
                <h1 class="p-fv__content--ttl">Robustus Fucus</h1>
                <a href="http://fucus-coin.com" class="p-fv__content--url">fucus-coin.com</a>
                <p class="p-fv__content--subttl">
                    With a total supply limited to just one billion coins, each FUCUS Coin is backed by a guarantee of value and offers immense potential for growth.
Launched on November 1, 2024, at an initial price of EUR. 1.11,- FUCUS Coin is set to be traded on our exclusive exchange as well as other platforms globally. For more information, please reach out to us via private chat.
Do not miss out on this opportunity-secure your FUCUS Coins today!
                </p>
                <a href="#contact" class="p-fv__content--link">
                    <span>Apply Here</span>
                </a>
                <div class="p-fv__content--num">
                    <div class="__num-item" id="fun-fact">
                            <span class="timer " data-to="7500 " data-speed="3000 "></span>
                            <span class="__num-item_ttl">User</span>
                    </div>
                    <div class="__num-item" id="fun-fact">
                        <span class="timer " data-to="100" data-speed="3000 "></span>
                        <span class="__num-item_ttl">Teams</span>
                    </div>
                    <div class="__num-item" id="fun-fact">
                        <span class="timer " data-to="30" data-speed="3000 "></span>
                        <span class="__num-item_ttl">Experience</span>
                    </div>
                </div>
            </div>

            <figure class="p-fv__img">
                <img src="{% static '/img/top/p-fv_bg.png'%}" alt="">
            </figure>

        </div>
    </section>
    <section class="p-about" id="about">
        <div class="p-about__container wow fadeInUp">
            <figure class="p-about__img">
                <img src="{% static '/img/top/vision.png'%}" alt="">
            </figure>
            <div class="p-about__content">
                <p class="p-about__content--deco">
                    About Us
                </p>
                <h1 class="p-about__content--ttl">
                    We are here to set the pace and lead the market.
                </h1>
                <p class="p-about__content--subttl">Experience the ultimate dream of flight with passenger drones-revolutionizing the way we soar through the skies! Reach new heights and embrace the thrill of aerial exploration like never before. Elevate your journey with passenger drones and make your dream to fly a reality.</p>
                <a href="#contact" class="p-about__content--link">
                    <span>Read More</span>
                </a>
            </div>
        </div>
    </section>
    <section class="p-service" id="service">
        <div class="p-service__container wow bounceInUp">
            <p class="p-service__deco">Why Choose</p>
            <h1 class="p-service__ttl">DEAR PASSENGERS</h1>
            <p class="p-service__subttl">There are several compelling reasons why individuals and businesses should consider buying and leasing  passenger drones from us.</p>
            <div class="p-service__items">
                <div class="p-service__item">
                    <span class="__item-img">
                        <img src="{% static '/img/top/p-service_item1.png'%}" alt="">
                    </span>
                    <h1 class="__item-ttl">Efficiency</h1>
                    <p class="__item-subttl">Passenger drones offer a fast and convenient mode of transportation, especially in crowded urban areas with heavy traffic. By owing or leasing a passenger drone, you can significantly reduce your commute time and avoid traffic congestions.</p>
                </div>
                <div class="p-service__item">
                    <span class="__item-img">
                        <img src="{% static '/img/top/p-service_item2.png'%}" alt="">
                    </span>
                    <h1 class="__item-ttl">Environmentally Friendly</h1>
                    <p class="__item-subttl">Passenger drones are powered by electric batteries and others, making them a sustainable and eco-friendly transportation option. By investing in this technology, you are contributing to a cleaner and greener environment.</p>
                </div>
                <div class="p-service__item">
                    <span class="__item-img">
                        <img src="{% static '/img/top/p-service_item3.png'%}" alt="">
                    </span>
                    <h1 class="__item-ttl">Future of Transportation</h1>
                    <p class="__item-subttl">The passenger drone industry is rapidly growing and evolving, with more companies investing in research and development to improve the technology. By getting involved early on, you have the big opportunity to be at the forefront of this exciting industry
                    </p>
                </div>
                <div class="p-service__item">
                    <span class="__item-img">
                        <img src="{% static '/img/top/p-service_item4.png'%}" alt="">
                    </span>
                    <h1 class="__item-ttl">Cost-Effectiveness</h1>
                    <p class="__item-subttl">While the initial investment in a passenger drone may seen significant, the long term cost savings can be substantial, especially for businesses that rely on efficient transportation options. Leasing options also provide a more flexible and affordable way to access this technology.</p>
                </div>
                <div class="p-service__item">
                    <span class="__item-img">
                        <img src="{% static '/img/top/p-service_item5.png'%}" alt="">
                    </span>
                    <h1 class="__item-ttl">Safety and Convenience</h1>
                    <p class="__item-subttl">Passenger drones are designed with advanced safety features and are operated by trained professionals, ensuring a secure and hassle-free travel experience. Additionally, this ability to navigate through urban landscapes and reach otherwise inaccessible locations makes them a convenient choice for various purposes.
                    </p>
                </div>
                <div class="p-service__item">
                    <span class="__item-img">
                        <img src="{% static '/img/top/p-service_item6.png'%}" alt="">
                    </span>
                    <h1 class="__item-ttl">Profit and Rewarding</h1>
                    <p class="__item-subttl">Investing in or leasing passenger drones from us not only offers practical benefits but also positions you at the forefront of a cutting-edge industry that is shaping the future of transportation.
                        Join us in embracing this innovative technology and revolutionize the way we commute and travel!
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="p-reason" id="reason">
        <div class="p-reason__container wow bounceInUp">
            <p class="p-reason__deco">Benefits</p>
            <h1 class="p-reason__ttl">Benefits of Transport Drones</h1>
            <figure class="p-reason__img">
                <img src="{% static '/img/top/benefits.jpg'%}" alt="">
            </figure>
            <div class="p-reason__items">
                <div class="p-reason__item">
                    <figure class="__item-img">
                        <img src="{% static '/img/top/p-reason-deco.png'%}" alt="">
                    </figure>
                    <div class="__item-content">
                        <h1 class="__item-content_ttl">Speed and Efficiency</h1>
                        <p class="__item-content_subttl">Drones can significantly reduce delivery times, especially in urban areas where traffic congestion is a major issue. They can bypass traditional road networks, delivering goods directly to consumers or businesses.</p>
                    </div>
                </div>
                <div class="p-reason__item">
                    <figure class="__item-img">
                        <img src="{% static '/img/top/p-reason-deco.png'%}" alt="">
                    </figure>
                    <div class="__item-content">
                        <h1 class="__item-content_ttl">Cost-Effectiveness</h1>
                        <p class="__item-content_subttl">By minimizing reliance on ground transportation, companies can lower operational costs. Drones require less fuel and can reduce labor costs associated with traditional delivery methods.</p>
                    </div>
                </div>
                <!-- <div class="p-reason__item">
                    <figure class="__item-img">
                        <img src="{% static '/img/top/p-reason-deco.png'%}" alt="">
                    </figure>
                    <div class="__item-content">
                        <h1 class="__item-content_ttl">Crypto Currencies</h1>
                        <p class="__item-content_subttl">Invest in our own crypto`s <a href="http://rshcoin.com">RSH COIN </a><br>
                            Real Estate Solarenergy Hydrogen Technology Renevable energy Seniors living</p>
                    </div>
                </div> -->
                <!-- <div class="p-reason__item">
                    <figure class="__item-img">
                        <img src="{% static '/img/top/p-reason-deco.png'%}" alt="">
                    </figure>
                    <div class="__item-content">
                        <h1 class="__item-content_ttl">Crypto Currencies</h1>
                        <p class="__item-content_subttl">Invest in our own crypto`s <a href="http://grootpandacoin.com">PCGP </a><br>
                            Power Coin Groot & Panda, growing bamboo, natural products, detox for the whole body, seawater desalination, organic fashion superfood
                        </p>
                    </div>
                </div> -->
                <div class="p-reason__item">
                    <figure class="__item-img">
                        <img src="{% static '/img/top/p-reason-deco.png'%}" alt="">
                    </figure>
                    <div class="__item-content">
                        <h1 class="__item-content_ttl">Environmental Impact</h1>
                        <p class="__item-content_subttl">Transport drones, particulary electric ones, offer a more sustainable alternative to conventional delivery vehicles. They can help reduce carbon emissions and contribute to greener logistics solutions.</p>
                    </div>
                </div>
                <div class="p-reason__item">
                    <figure class="__item-img">
                        <img src="{% static '/img/top/p-reason-deco.png'%}" alt="">
                    </figure>
                    <div class="__item-content">
                        <h1 class="__item-content_ttl">Accessibility</h1>
                        <p class="__item-content_subttl">Drones can reach remote or hard-to-access areas, providing essential services and goods to communities that may otherwise be underserved.</p>
                    </div>
                </div>

            </div>
            <div class="p-reason_stategy">
                <div class="__stategy-item" id="fun-fact">
                    <span class="timer " data-to="7500 " data-speed="3000 "></span>
                    <span class="__ttl">User</span>
                </div>
                <div class="__stategy-item" id="fun-fact">
                    <span class="timer " data-to="100 " data-speed="3000 "></span>
                    <span class="__ttl">Teams</span>
                </div>
                <div class="__stategy-item" id="fun-fact">
                    <span class="timer " data-to="30" data-speed="3000 "></span>
                    <span class="__ttl">Experiences</span>
                </div>
            </div>
        </div>
    </section>
    <section class="p-gold" id="gold">
        <div class="p-gold__container wow bounceInUp">
            <a class="p-gold__deco" href="http://www.goldenage24.com">Golden Age</a>
            <h1 class="p-gold__ttl">FUCUS-COIN</h1>
            <p class="p-gold__subttl">Invest in FUCUS Coin today and unlock a safe investment opportunity with a 20x factor! With FUCUS Coin, you can secure your financial future with confidence. Our innovative technology and solid investment strategy in transport and passenger drones ensure a reliable and lucrative return on your investment. Do not miss out on this chance to grow your wealth exponentially-join us in the journey to financial success with FUCUS COIN.</p>
            <figure class="p-reason__img">
                <img src="{% static '/img/top/Invest.jpg'%}" alt="">
            </figure>
            <a href="#contact" class="p-gold__link">APPLY NOW</a>
            
        </div>
    </section>
    <section class="p-contact" id="contact">
        <div class="p-contact__container wow fadeInUp">
            <a class="p-contact__deco" href="mailto:rshcint@gmail.com">Get in Touch!</a>
            <h1 class="p-contact__ttl">Let’s Start Working
                Together</h1>
            <form class="p-contact__form" action="{% url 'homepage:send_mail' %}" id ="p-contact__form" method="post"> 
                {% csrf_token %}
                <div class="__form-info">
                    <p class="__form-info_ttl">Contact information</p>
                    <a class="__form-info_email" href="mailto:fucus@gmail.com">Mail&nbsp;:&nbsp;fucuscoin@gmail.com</a>
                    <a href="https://t.me/RSHCINT" class="__form-info_email">Telegram&nbsp;:&nbsp;@Fucus</a>
                    <figure class="__form-info_img">
                        <img src="{% static '/img/top/rshci-logo(top).png'%}" alt="">
                    </figure>
                </div>
                <div class="__form-items">
                    <div class="__form-items_up">
                        <div class="__form-item">
                            <p class="__form-item_label">Your Name</p>
                            <input type="text" class="__form-item_input" placeholder="Name" name="contact-name" id="contact-name">
                            <p class="_error name__error">Invalid Name. Please input your name</p>
                        </div>
                        <div class="__form-item">
                            <p class="__form-item_label">Your Email</p>
                            <input type="text" class="__form-item_input" placeholder="Email" name="contact-email" id="contact-email">
                            <p class="_error email__error">Invalid Email. Please input your email.</p>
                        </div>
                        <div class="__form-item">
                            <p class="__form-item_label">Phone Number</p>
                            <input type="text" class="__form-item_input" placeholder="Phone Number" name="contact-phone" id="contact-phone">
                            <p class="_error phone__error">Invalid Phonenumber. Please input your Phone Number.</p>
                        </div>
                        <div class="__form-item">
                            <p class="__form-item_label">Your Desire</p>
                            <input type="text" class="__form-item_input" placeholder="Your Desire" name="contact-disires" id="contact-disires">
                            <p class="_error disires__error">Invalid Value. Please input your type of disire.</p>
                        </div>
                        <div class="__form-item">
                            <p class="__form-item_label">Invest Amount</p>
                            <input type="text" class="__form-item_input" placeholder="Invest Amount" name="contact-investAmount" id="contact-investAmount"> 
                        </div>
                        <div class="__form-item">
                            <p class="__form-item_label">Invest Periods</p>
                            <input type="text" class="__form-item_input" placeholder="Invest Periods" name="contact-investPeriods" id="contact-investPeriods"> 
                        </div>
                        
                    </div>
                    <div class="__form-items_text">
                        <p class="__text-label">Message</p>
                        <Textarea class="__textarea" placeholder="Enter Message" name="contact-text" id="contact-text"></Textarea>
                        <p class="_error text__error">Invalid Text. Please input Text.</p>
                    </div>
                    <div class="__form-items_terms">
                        <input type="checkbox" id="contact-check">
                        <p class="__form-items_terms-ttl">Agree to the Terms of Use. Click <a href="terms_use.html">here</a> for more information.</p>
                    </div>
                    <p class="_error agree__error">Please agree terms of use.</p>
                    <button class="__form-items_submit" id="submit">Send Now</button>
                </div>
            </form>
        </div>
    </section>
</main>
{% endblock %}

{% block notice %}
<div class="coinprice-notice">
    <div class="coinprice-notice__wrap">
        <div class="coinprice-notice__scroll">
                <p class="__scroll-text">FUCUS-COIN &nbsp;&nbsp; {{coinprice.coinprice|european_number_format}}&nbsp;€</p>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript%}
<script>
    $("#submit").click(function(e){
        e.preventDefault()

        $("input").each(function(){
            $(this).removeClass("input-error")
        })
        $("textarea").each(function(){
            $(this).removeClass("input-error")
        })
        $("._error").each(function(){
            $(this).removeClass("is-active")
        })
        var success = true;
        var testEmail = /^[A-Z0-9._%+-]+@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;
        var contact_name = $("#contact-name").val()
        var contact_email = $("#contact-email").val()
        var contact_phone = $("#contact-phone").val()
        var contact_type = $("#contact-disires").val()
        var contact_contents = $("#contact-text").val()
        var contact_amount = $("#contact-investAmount").val()
        var contact_periods = $("#contact-investPeriods").val()


        var contact_check = $("#contact-check").prop('checked')
        if(contact_name == ""){
            $("#contact-name").addClass("input-error")
            $(".name__error").addClass("is-active")
            success = false
        }
        
        if (!testEmail.test(contact_email)){
            $("#contact-email").addClass("input-error")
            $(".email__error").addClass("is-active")
            success = false
        }
        if(contact_phone == ""){
            $("#contact-phone").addClass("input-error")
            $(".phone__error").addClass("is-active")
            success = false
        }
        if(contact_type == ""){
            $("#contact-disires").addClass("input-error")
            $(".disires__error").addClass("is-active")
            success = false
        }
        if(contact_contents == ""){
            $("#contact-text").addClass("input-error")
            $(".text__error").addClass("is-active")
            success = false
        }
        if(!contact_check){ // Corrected checkbox value check
            $(".agree__error").addClass("is-active");
            success = false;
        }

        if(success){
            

            const form = document.getElementById('p-contact__form');
            const formData = new FormData(form);
            console.log(form)

            fetch("{% url 'homepage:send_mail' %}", {
                method: 'POST',
                body: formData
            })
            .then((response) => {
                
                $("#contact-name").val("")
                $("#contact-email").val("")
                $("#contact-phone").val("")
                $("#contact-disires").val("")
                $("#contact-text").val("")
                $("#contact-investAmount").val("")
                $("#contact-investPeriods").val("")


                $("#contact-check").prop('checked',false)
                alert("The message has been successfully sent.")  
                
            })
            .catch((error) => {
                alert("Failed to send message due to server error. Please try again later.")
                print(str(error))

            });
        }

        
    })
</script>

{% endblock %}